@charset "UTF-8";

/* 回答はここに書いてね */
.main{
width: 940px;
margin: 0 auto;
background-color: #eff3f4;
  padding: 20px;
  box-sizing: border-box;
}
.text{
  word-break: break-all;
  font-size: 18px;
  line-height: 22px;
  
}
.left-sample{
  float: left;
  margin: 0 20px  10px  0;
}
.rigth-sample{
  float: right;
  margin: 0 0  10px  20px;
}
/* 回答はここに書いてね */
