@charset "UTF-8";

/* 回答はここに書いてね */
.callout{
  width: 500px;
  margin: 0 auto;
  position: relative;
  border: 5px solid #222;
  padding: 20px;
  border-radius: 30px;
}

.callout::before,
.callout::after{
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: 50px;
}


.callout::before{
  bottom: -20px;
  border-top: 20px solid #222;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
}
.callout::after{
  bottom: -13px;
  border-top: 20px solid #fff;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
}
 
.text{
  font-size: 16px;
  line-height: 16px;
}
/* 回答はここに書いてね */
