@charset "UTF-8";

/* 回答はここに書いてね */
.box-0{
  padding: 20px;
}
.box-1{
  padding-top: 20px;
}
.table{
  display: table;
  width: 100%;
  text-align: center;
}


.box_1{
  display: table-cell;
  background-color: #fdc8b8;
  width: 100px;
  padding: 20px;
}
.box_2{
  display: table-cell;
  background-color: #e0abd9;
  padding: 20px;
}
.box_3{
  display: table-cell;
  background-color: #b6d8ed;
  width: 100px;
  padding: 20px;
}
.box_4{
  display: table-cell;
  background-color: #e5d32e;
  padding: 20px;
}
.box_5{
  display: table-cell;
  background-color: #ec8f9a;
  padding: 20px;
}
.box_6{
  display: table-cell;
  background-color: #8fdcad;
  width: 500px;
  padding: 20px;
}

/* 回答はここに書いてね */
